.DS_Store
node_modules/

.local/node_modules/
.local/package-lock.json

.personal/cache/
.personal/data/
.personal/plugins/

.personal/home/.cache/
.personal/home/.npm/
.personal/home/.opencode/

.personal/home/.config/opencode/node_modules/
.personal/home/.config/opencode/package-lock.json
.personal/home/.config/opencode/cache/
.personal/home/.config/opencode/openai-accounts.json
.personal/home/.config/opencode/openai-multi-auth-session-bindings.json
